.head {
  background-image: url(/cow_photo/240_F_177259529_k2fT0kp73flTWQRoWbRmYgf63yibPW7z.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-size: 50%;
  background-position: center ;
  text-align: center;
  back

}
